:root{
    --basecolor : #5BA6A6;
    --secondcolor : #027373;
  }


.pagetitle{
    padding-left : 120px;
    padding-top : 90px;
    display : flex;
    color : var(--basecolor);
}

.pagetitle button{
    margin-top : 20px;
    margin-left : 10px;
    width : 100px;
    height : 30px;
    background-color: var(--basecolor);
    color : white;
    outline : 0;
    border : 1px solid var(--basecolor);
    border-radius : 5%;
    margin-bottom : 3px;
}

.api button{
    width : 100px;
    height : 30px;
    background-color: var(--basecolor);
    color : white;
    outline : 0;
    border : 1px solid var(--basecolor);
    border-radius : 5%;
    margin-bottom : 3px;
}

.loop button{
    width : 100px;
    height : 30px;
    background-color: var(--basecolor);
    color : white;
    outline : 0;
    border : 1px solid var(--basecolor);
    border-radius : 5%;
    margin-bottom : 3px;
}

  .container{
      display : flex;
      margin : 5px auto;
      height : 100%;
      width : 85%;
      justify-content: space-between;
  }
  .api{
      height : 100%;
      width : 56%;
      top : 0px;
      position :sticky;
  }

.api .map{
    
    border : 3px solid var(--basecolor);
    width : 100%;
    height : 600px;
    
}

.api .pano{
    border : 3px solid var(--basecolor);
    width : 100%;
    height : 400px;
}

.looparea{
    height : 100%;
    width : 42%;
    padding-top : 30px;
}

.loop{
    display : flex;
    flex-direction : column;
    justify-content: space-between;
}

.loop .imgarea{
    border : 3px solid var(--basecolor);
    height : 300px;
    width : 98%;
}

.loop .detail{
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    border : 3px solid var(--basecolor);
    border-radius : 3%;
    height : 200px;
    width : 98%;
    margin-top : 10px;
    margin-bottom : 20px;
    padding : 5px;
}

.loop .detail:hover{
    border : 6px solid var(--basecolor);
}

button:hover{
    background-color: var(--secondcolor);
}

img {
    width: 100%;
    height:100%;
    object-fit: fill;
    border-radius:3%;
    border-color : #0077c2;
  }
  
.loop .detail .contents{
    width: 400px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

.loop .detail .contents_clamp{
    width: 400px;
    display: -webkit-box;
    overflow: visible;
}