@charset "UTF-8";

.btn-color-header {
	border-color: #193c40;
	background-color: #193c40;
	color: white;
}

.btn-color-header:hover {
	border-color: #193c40;
	background-color: white;
	color: #193c40;
}

.link-header-right {
	color: #193c40;
	margin-right: 10px;
}

.link-header-right:hover {
	text-decoration: none;
	color:#5BA6A6;
}

.header-top {
	margin: 15px 0;
}

.greet-ment {
	color: #93BBBF;
}

.dropdown-item:active{
	background-color:#5BA6A6;
}

.nav-item {
	margin: 0 5px;
}

.bg-light-color{
	background-color: white; /*#D9BBB4;*/
}