:root{
  --basecolor : #5BA6A6;
  --secondcolor : #027373;
}

#top {
	padding: 2em 0 10px 0;
	
}

.mtitle {
	margin: auto;
	width: 70%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: solid;
	border-color: var(--basecolor);
	color: var(--basecolor);
	overflow: hidden;
}

.title span {
	width: 300px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.title .a-link {
	color: var(--basecolor);
}

#score {
	width: 165px;
	margin-top: -20px;
	font-style: bold;
	color: white;
	background-color: var(--basecolor);
	border: 2px solid var(--basecolor);
	padding: 3px;
}

.l-container {
	padding: 10px;
	width: 70%;
	margin: auto;
	overflow: hidden;
}

.images {
	width: 100%;
	height: auto;
}

.images img {
	width: 100%;
	height: 100%;
	border-radius: 1ch;
	object-fit: contain;
}

.l-img-title:hover {
	transition: 0.5s;
	transform: scale(1.2);
	overflow: hidden;
}

.l-container .a-link:hover {
	color: var(--secondcolor);
	font-size: 20px;
}

.a-link {
	text-decoration: none;
	border: none;
	padding: 0px;
	cursor: pointer;
	outline: none;
	background-color: white;
}

.search button:hover {
	background-color: var(--secondcolor);
}

.info {
	margin-top: -15px;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.search {
	width: 550px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search button {
	width: 70px;
	height: 40px;
	background-color: var(--basecolor);
	color: white;
	border: 3px solid white;
	border-radius: 10%;
}

.search select {
	width: 100px;
	height: 40px;
}

@media ( min-width : 640px) {
	.l-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		grid-auto-flow: row dense;
	}
	.imageFlex1 {
		display: grid;
		row-gap: 20px;
	}
	.imageFlex2 {
		display: grid;
		row-gap: 20px;
	}
	.imageFlex3 {
		display: grid;
		row-gap: 20px;
	}
}